* {
  font-family: "Times New Roman", Times, serif;
}

.name {
  margin-top: 20px;
  margin-left: 40px;

  padding: 20px;

  color: goldenrod;

  text-transform: capitalize;
  font-size: 40px;

  display: inline-block;

  text-align: center;
}

.header {
  color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0 0 9px gray;

  text-transform: capitalize;
  font-size: 20px;
  margin: auto;
  /* border: 1px solid; */

  max-width: 950px;
  text-align: center;
  position: absolute;
  top: 13%;
  margin-left: 10px;
  left: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}

nav {
  margin-top: 20px;
  margin-right: 60px;

  padding: 20px;

  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0.3);
  transition: width 0.9s linear;
  overflow-x: hidden;
}

nav.active {
  width: 500px;
}
nav ul a {
  margin: 0 20px;
  font-size: 25px;

  color: goldenrod;
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 0;

  display: flex;
  list-style-type: none;

  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

.icon {
  border: 1px;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-image: url(https://www.shareicon.net/data/2017/02/15/878712_list_512x512.png);
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
